<a href="https://colab.research.google.com/github/asilverparadox/CEIS209CourseProjectPart1/blob/main/python_language_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
is_game_over = False
print(is_game_over)
is_game_over = True
print(is_game_over)
is_game_over = 5 > 6
print(is_game_over)

False
True
False

In [5]:
num_lives = 5
print(num_lives)
percent_health = 0.5
print(percent_health)

5
0.5

In [7]:
player_name = 'Eire'
print(player_name)
player_name = 'Lainey'
print(player_name)

Eire
Lainey

In [10]:
print(type(is_game_over))
print(type(num_lives))
print(type(percent_health))
print(type(player_name))

num_lives = "5"
print(type(num_lives))

player_name = num_lives
print(player_name)

<class 'bool'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
5

In [12]:
num_lives = 5
print(str(num_lives))
#conversion to string
str_num_lives = str(num_lives)
print(type(num_lives))
print(type(str_num_lives))

5
<class 'int'>
<class 'str'>

In [13]:
print(bool(0))
print(bool(0.1))
print(bool("afladkjf"))

#anything that is not exactly a zero when converted to a boolean will give true, otherwise it will return false

False
True
True

In [18]:
#some conversions are allowed, while others are not
# print(int("faldksjf")) returns an error

print(int("3")) #works without crashing because 3 is an integer/number
print(int(0.5))
print(int(False)) #0 is a false
print(int(True)) #1 is a true

3
0
0
1

In [20]:
print(float("2"))
print(float(0.5))
print(float(False))
print(float(True))
#using float allows for decimal numbers and will also add a .0 to whole numbers

2.0
0.5
0.0
1.0

In [27]:
#operators and operations
#arithmetic operators
#assignment operators
#examples -
health = 50
print(health)
health = health + 20
print(health)
new_health = health + 20
print(new_health)

xPos = 5
print(xPos % 2) #modulus helps to perform division and provides the remainder
print(xPos // 2) #// performs division and discards remainder
print(xPos ** 2) # to the power of 2
print(xPos)

first_name = "Eire"
last_name = "Baker"
print(first_name + last_name)
#in order to get a space between the strings, add " "
print(first_name + " " + last_name)

50
70
90
1
2
25
5
EireBaker
Eire Baker

In [30]:
health = 50
health += 20 #changing the value of health (bc it's doing health = health +20)
health -= 50
print(health)

name = "Eire"
name += " Baker"
print(name) #can run the same with strings, leave a space before the second string (__ LastName)

20
Eire Baker